<footer>
    <div class="credits">
        Made with <span style="color: #e25555;">&#9829;</span> by <a href="https://github.com/gnaww/" target="_blank" class="bold">Will</a> and <a href="https://github.com/fireteam99/" target="_blank" class="bold">Ray</a>
        <br>
        <a href="https://github.com/gnaww/course-searcher" target="_blank">GitHub Repo</a>
    </div>
    <div class="links">
        <ul>
            <li>
                <h5>Links</h5>
            </li>
            <li>
                <a href="/news">News</a>
            </li>
            <li>
                <a href="/suggestions">Suggestions</a>
            </li>
        </ul>
    </div>
</footer>
