<footer>
    <div class="credits">
        Made with <span style="color: #e25555;">&#9829;</span> by <span class="bold">Will</span> and <span class="bold">Ray</span>
        <br>
        <a href="https://github.com/wwang99/course-searcher" target="_blank">GitHub Repo</a>
    </div>
    <div class="links">
        <ul>
            <li>
                <h5>Links</h5>
            </li>
            <li>
                <a href="/news">News</a>
            </li>
            <li>
                <a href="/suggestions">Suggestions</a>
            </li>
        </ul>
    </div>
</footer>
