.container-fluid {
    padding: 2em 5em 5em 5em;
}

.container {
    text-align: center;
    width: 50%;
    padding: 2em 3em;
}

.semesters-container {
    display: flex;
    flex-wrap: wrap;
}

.username-header {
    padding: 1em 0 1em 0;
}

.manual-add {
    resize: none;
    height: 12em;
    width: 100%;
    margin-bottom: 1em;
}

.submit-button {
    margin-left: 1em;
    width: 10em;
}

.cancel-button {
    margin-right: 1em;
    width: 10em;
}

.upload {
    padding: 1em 2em;
    margin-bottom: 1em;
}

.upload form {
    display: flex;
    text-align: left;
}

.upload form input {
    flex-grow: 1;
}

.upload form .btn {
    margin: 0 0.5em;
}

.semester {
    font-size: 1.4em;
    padding-right: 1.42em;
    padding-bottom: 0.5em;
    width: 33.33%;
}

.semester h2 {
    font-size: 1.2em;
}


.container span {
    display: block;
    margin-bottom: 1em;
}

.upload h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1.1em;
    font-weight: 400;
}

.tut-aside p {
    font-size: .9em;
}

.template {
    display: flex;
    padding-bottom: 1em;
}

.tut-aside {
    flex-basis: 100%;
    display: flex;
    text-align: left;
}

.delete-account {
    text-align: center;
    margin: 2em;
}

.delete-account .modal {
    text-align: left;
}

/* media queries */

/* laptop/desktop screens with 150% page zoom */
/* was 1290px but caused an the cancel and upload buttons to overflow */
@media only screen and (max-width: 1420px) {
    .semester {
        width: 50%;
        padding-right: 0;
    }

    .container {
        width: 70%;
    }
}

/* mobile screens */
/* was 992px but caused cancel and upload buttons to overflow */
@media only screen and (max-width: 1069px) {
    .container-fluid {
        padding: 2em 2em 5em 2em;
    }

    .semester {
        text-align: center;
        width: 100%;
        padding-bottom: 1.5em;
    }

    .username-header {
        text-align: center;
    }

    .semester ul {
        width: 70%;
        margin: auto;
        text-align: left;
    }

    .container {
        width: 100%;
    }
}
