.container-fluid {
    padding: 2em 5em 2em 5em;
}

.container {
    text-align: center;
    width: auto;
    padding: 2em 3em;
}

.container .btn {
    margin: 0 1em;
    width: 25%;
}

.semesters-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    widows: 90%;
}

.username-header {
    padding: 1em 0 1em 0;
}

.header-text{
    font-size: 3em;
    align-self: center;
}

.modal-body {
    padding: 2em;
    
}
.modal-content semester {
    width: 50%;
}

.manual-add {
    resize: none;
    height: 12em;
    width: 100%;
}

.submit-button {
    height: 60%;
}

.upload form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}
.upload form input[type="file"] {
    display: none;
}

.upload-button {
    height: 70%;
    font-weight: normal;
    font-size: 1.7em;
    margin-bottom: 1em;
}

.new-semester {
    font-size: 1.4em;
    padding-bottom: 0.5em;
    width: 100%;
}

.semester {
    font-size: 1.4em;
    padding-right: 1.42em;
    padding-bottom: 0.5em;
    width: 33.33%;
}

.semester h2, .new-semester h2 {
    font-weight: 300;
    font-size: 1.2em;
}

.save-button {
    height 60%;
    display: none;
}

.cancel-button {
    height 60%;
}

/* loading.io loading icon*/
.lds-dual-ring {
    grid-area: load;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 2em;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #1768AC;
    border-color: #1768AC transparent #1768AC transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
    font-weight: 300;
}

#completed-courses-header {
    margin-bottom: .5em;
}

li {
    font-weight: 300;
}

.update-header {
    margin: 0;
    font-weight: 300;
}

h5 {
    font-weight: 300;
    font-size: 1.1em;
}

h6 {
    font-size: 1.1em;
    font-weight: 400
}

p {
    font-weight: 300;
    font-size: .9em;
}

.modal-tutorial {
    display: flex;
    padding-bottom: 1em;
}

.tut-aside {
    flex-grow: 1;
    text-align: center;
}

.modal-title {
    font-weight: 300;
}

/* media queries */

/* laptop/desktop screens with 150% page zoom */
@media only screen and (max-width: 1280px) {
    .btn-primary.upload-button {
        width: 100%;
        display: block;
    }
    
    .upload {
        padding: 0 1em;
    }
    
    .semester {
        width: 50%;
        padding-right: 0;
    }
}

/* mobile screens */
@media only screen and (max-width: 992px) {
    .upload {
        padding: 1em;
    }
    
    .semester {
        text-align: center;
        width: 100%;
    }

    .username-header {
        text-align: center;
    }
  
    .semester ul {
        width: 70%;
        margin: auto;
        text-align: left;
    }
}