.container-fluid {
    padding: 3em 5em 5em 5em;
}

.dir-search-h {
    color: #13446B;
    font-size: 2.8em;
    text-align: center;
}

section {
    padding-top: 2.2em;
}

p {
    color: #13446B;
    font-weight: 400;
    font-size: .8em;
    text-align: center;
}

#direct-search {
    display: none;
}

.dirclass {
    text-align: center;
    width: 70%;
    margin: auto;
}

.reqful-h {
    color: #0F436D;
    text-align: center;
    font-size: 3.1em;
}

#dsearch {
    display: flex;
    text-align: center;
    width: 100%;
}

#dirsearch {
    border: 0;
    outline: 0;
    background: transparent;
    transition: background-color 1s ease;
    border-bottom: 0.01em solid #09325A;
    /* width: 30em; */
    font-size: 1.3em;
    flex-grow: 2;
}

.mid-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.req-col {
    width: auto;
    height: auto;
    text-align: left;
    margin: 0 3em 2em 3em;
    font-size: 1.3em;
}

.search-select {
    margin: 0 auto 2em auto;
    display: flex;
    width: 50%;
    text-align: center;
}

.search-select .btn {
    flex-grow: 1;
}

.search-select .btn-active {
    background-color: #0F4877;
    border-color: #0F4877;
    color: #BBDAE0;
}

.confirmation-btns .btn {
    border: 1px solid #13446B;
    color: #13446B;
    width: 8em;
    height: 1.9em;
    font-size: 1.5em;
    transition: color .5s ease, background-color .5s ease;
    margin-left:0.3em;
    margin-right:0.3em;
    line-height: 1.2em;
    background-color: white;
}

.btn:hover {
    color: #BBDAE0;
    background-color: #13446B;
}

.btn:active {
    color: white;
    background-color: #3472a3;
}

.confirmation-btns {
    height: auto;
    margin-bottom: 1.2em;
    text-align: center;
}

#rsearch {
    font-size: .8em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.3em;
}

.dir-search-p {
    /* margin-bottom: 2.5em; */
    font-size: 1.3em;
    font-weight: 400
}

select {
    margin-right: .5em;
    font-size: 1.3em;
}

.icon-btn {
    background-color: transparent;
    color: #4D6785;
    outline: none;
    border: none;
    transition: color 1s ease;
}

.icon-btn i {
    font-size: 1.3em;
}

.icon-btn:hover {
    color: #8dbbef;
}

label {
    font-weight: 300;
}

.reqful-p {
    font-weight: 700;
    font-size: 1.1em;
}

.cb {
    margin-right: 1em;
}

/* media queries */
@media (max-width: 1113px) {
    .mid-container {
        flex-direction: column;
    }

    .req-col {
        text-align: center;
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .dirclass {
        width: 100%;
    }
}

/* @media (min-width: 1113px) {
    #dirsearch {
        width: 40em;
    }
} */

@media (max-width: 993px) {
    .search-select {
        width: 70%;
    }
}

/* @media (max-width: 688px) {
    #dirsearch {
        width: 10em;
    }
} */

@media (max-width: 425px) {
    .reqful-p {
        padding-right: 10%;
        padding-left: 10%;
    }
}
