.container-fluid {
    padding: 3em 5em 5em 5em;
}

.dir-search-h {
    color: #13446B;
    font-size: 2.8em;
    text-align: center;
}

section {
    padding-top: 2.2em;
}

p {
    color: #13446B;
    font-weight: 400;
    font-size: .8em;
    text-align: center;
}

.dirclass {
    text-align: center;
    width: 70%;
    margin: auto;
}

.reqful-h {
    color: #0F436D;
    text-align: center;
    font-size: 3.1em;
}

#dsearch {
    display: flex;
    text-align: center;
    width: 100%;
}

#dirsearch {
    font-size: 1.3em;
    flex-grow: 2;
}

.mid-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.req-col {
    width: auto;
    height: auto;
    text-align: left;
    margin: 0 3em 2em 3em;
    font-size: 1.3em;
}

.search-select {
    margin: 0 auto 2em auto;
    display: flex;
    width: 50%;
    text-align: center;
}

.search-select .btn {
    flex-grow: 1;
}

.search-select .btn-active {
    background-color: #0F4877;
    border-color: #0F4877;
    color: #BBDAE0;
}

.confirmation-btns .btn {
    border: 1px solid #13446B;
    color: #13446B;
    width: 8em;
    height: 1.9em;
    font-size: 1.5em;
    transition: color .5s ease, background-color .5s ease;
    margin-left:0.3em;
    margin-right:0.3em;
    line-height: 1.2em;
    background-color: white;
}

.btn:hover {
    color: #BBDAE0;
    background-color: #13446B;
}

.btn:active {
    color: white;
    background-color: #3472a3;
}

.confirmation-btns {
    height: auto;
    text-align: center;
}

#rsearch {
    font-size: .8em;
}

h4 {
    font-size: 1.3em;
}

.dir-search-p {
    font-size: 1.3em;
    font-weight: 400
}

select {
    margin-right: .5em;
    font-size: 1.3em;
}

.icon-btn {
    background-color: transparent;
    color: #4D6785;
    outline: none;
    border: none;
    transition: color 1s ease;
}

.icon-btn i {
    font-size: 1.3em;
}

.icon-btn:hover {
    color: #8dbbef;
}

.reqful-p {
    font-weight: 400;
    font-size: 1.1em;
}

.cb {
    margin-right: 1em;
}

#search-results {
    margin-top: 2em;
}

#search-results table {
    font-size: 1.3em;
}

#search-results table a {
    color: #1768AC;
}

.search-results-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.personalize-switch, .results-count {
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.results-count {
    flex-grow: 1;
}

.personalize-switch .switch {
    margin-left: 0.3em;
}

.search-results-header h2 {
    margin-right: 0.5em;
}

.sort-dropdown .btn {
    font-size: 1.1em;
    margin-left: 1em;
}

.search-results-header label {
    margin: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1768AC;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1768AC;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.dropdown-item {
    text-align: right;
}

.reqBoxes {
    margin-bottom: 1em;
}

.req-search-header {
    margin-bottom: 3em;
}

.min-input-sb {
    border: none;
    border-bottom: 1px solid #13446B;
}

.bar-sb {
    position: relative;
    display: block;
}
.bar-sb:before, .bar-sb:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4D6785;
    transition: 0.2s ease all;
}

.bar-sb:before {
    left: 50%;
}

.bar-sb:after {
    right: 50%;
}

.min-input-sb:focus {
    border-bottom: none;
}

/* active state */
.min-input-sb:focus ~ .bar-sb:before, .min-input-sb:focus ~ .bar-sb:after {
    width:50%;
}

/* media queries */
@media (min-width: 2000px) {
    .min-input-sb {
        width: 50em;
    }
    .bar-sb {
        width: 65em;
    }
}

@media (max-width: 2000px) {
    .min-input-sb {
        width: 50em;
    }
    .bar-sb {
        width: 65em;
    }
}

@media (max-width: 1800px) {
    .min-input-sb {
        width: 45em;
    }
    .bar-sb {
        width: 58.5em;
    }
}

@media (max-width: 1600px) {
    .min-input-sb {
        width: 40em;
    }
    .bar-sb {
        width: 52em;
    }
}

@media (max-width: 1400px) {
    .min-input-sb {
        width: 35em;
    }
    .bar-sb {
        width: 45.5em;
    }
}

@media (max-width: 1293px) {
    .mid-container {
        flex-direction: column;
    }
    
    .req-col {
        text-align: center;
        width: auto;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .dirclass {
        width: 100%;
    }
    .min-input-sb {
        width: 40em;
    }
    .bar-sb {
        width: 52em;
    }
}

@media (max-width: 1200px) {
    .min-input-sb {
        width: 35em;
    }
    .bar-sb {
        width: 45.5em;
    }
}

@media (max-width: 1100px) {
    .min-input-sb {
        width: 32em;
    }
    .bar-sb {
        width: 41.5em;
    }
}

@media (max-width: 1000px) {
    .min-input-sb {
        width: 25em;
    }
    .bar-sb {
        width: 32.5em;
    }
}

@media (max-width: 993px) {
    .search-select {
        width: 70%;
    }
    .search-result-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 900px) {
    .min-input-sb {
        width: 20em;
    }
    .bar-sb {
        width: 26em;
    }
}

@media (max-width: 800px) {
    .min-input-sb {
        width: 15em;
    }
    .bar-sb {
        width: 19.5em;
    }
}

@media (max-width: 700px) {
    .min-input-sb {
        width: 10em;
    }
    .bar-sb {
        width: 13em;
    }
}

@media (max-width: 425px) {
    .reqful-p {
        padding-right: 10%;
        padding-left: 10%;
    }
}
.scroll-down {
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.5em;
}

.scroll-down > a {
    color: rgba(19, 68, 108, 0.54);
    transition: color 0.5s ease;
    text-decoration: none;
}

.scroll-down > a:visited {
    color: rgba(19, 68, 108, 0.54);
}

.scroll-down > a:hover {
    color: #13446c;
}

.scroll-down > a:active {
    color: #1768AC;
}


.scroll-down > a > p {
    transition: color 0.5s ease;
    color: rgba(19, 68, 108, 0.54);
    font-size: .7em;
    margin: 0;
}

.scroll-down > a > p:hover {
    color: #13446B;
    font-size: .7em;
    margin: 0;
}

.scroll-down > a > p:active {
    color: #1768AC;
    font-size: .7em;
    margin: 0;
}