.modal-layout {
    text-align: center;
}

.smooth-input {
    text-align: center;
    width: 10em;
    height: 2.5em;
    margin-bottom: 1em;
    transition: color 0.5s ease, background-color 0.5s ease, width 0.5s ease;
    border-radius: .3em;
    border-color: transparent;
    background-color: rgba(189, 219, 224, 0.51);
    border: 1px solid #13446B;
}

.smooth-input:hover {
    background-color: rgba(189, 219, 224, 0.3);
}

.smooth-input:focus {
    width: 15em;
    background-color: rgba(189, 219, 224, 0.1);
}
::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; } /* Modern Browsers */

.navform .btn {
    border: 1px solid #13446B;
    color: #13446B;
    width: 8em;
    height: 1.9em;
    font-size: 1.2em;
    transition: color .5s ease, background-color .5s ease;
    margin-left:0.3em;
    margin-right:0.3em;
    line-height: 1.2em;
    background-color: white;
}

.navform .btn:hover {
    color: #BBDAE0;
    background-color: #13446B;
}

.navform .btn:active {
    color: white;
    background-color: #3472a3;
}

.navbar {
	background-color: #0F436D;
	min-height: 5em;
}

.nav-link {
	color: #C3DFE4;
	font-weight: 300;
	font-size: 1.3em;
	transition: color 0.5s ease;
	letter-spacing: 2px;
}

.nav-link-space {
    margin-right: .7em;
}

.navbar-dark .navbar-brand {
	color: #C3DFE4;
	font-weight: 300;
	font-size: 2em;
	transition: color 0.5s ease;
}

.navbar-brand:hover, .nav-link:hover {
	color: #FFFFFF;
    transition: color 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 10px;
	padding-left:20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #C3DFE4;
}

.navbar-light .navbar-brand {
    color: #C3DFE4;
}

.navbar-light .navbar-toggler {
    color: #C3DFE4;
}
