html, body {
    font-family: 'Lato', sans-serif;
    color: #13446B;
    height: 100%;
}

.btn-primary {
    background-color: #1768AC;
    border: #1768AC;
}

.btn-primary:hover {
    background-color: #0F4877;
}

.btn-outline-primary {
    color: #1768AC;
    border-color: #1768AC;
}

.btn-outline-primary:hover {
    background-color: #0F4877;
    border-color: #0F4877;
}

.divider {
    grid-area: div;
    border-left: 2px solid #d3d3d3;
    height: 100%;
}

.bold {
    font-weight: bold;
}

.alert {
    margin: 2em auto 0 auto;
    width: 50%;
}

.error-container {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    font-weight: 300;
    font-size: 5em;
    height: auto;
    text-align: center;
    align-self: middle;
}
