body {
    font-family: 'Lato', sans-serif;
    color: #13446B;
}

.btn-primary {
    background-color: #1768AC;
    border: #1768AC;
}

.btn-primary:hover {
    background-color: #0F4877;
}

.btn-outline-primary {
    color: #1768AC;
    border-color: #1768AC;
}

.btn-outline-primary:hover {
    background-color: #0F4877;
    border-color: #0F4877;
}

.divider {
    grid-area: div;
    border-left: 2px solid #d3d3d3;
    height: 100%;
}

.bold {
    font-weight: bold;
}