html, body {
    font-family: 'Lato', sans-serif;
    color: #13446B;
    height: 100%;
}

.btn-primary {
    background-color: #1768AC;
    border: #1768AC;
}

.btn-primary:hover {
    background-color: #0F4877;
}

.btn-outline-primary {
    color: #1768AC;
    border-color: #1768AC;
}

.btn-outline-primary:focus {
    background-color: #0F4877;
    border-color: #0F4877;
}

.btn-outline-primary:active {
    background-color: #1768AC;
    border-color: #1768AC;
    color: white;
}

.btn.btn-lg.btn-outline-primary:active {
    background-color: #1768AC;
    border-color: #1768AC;
    color: white;
}

.divider {
    grid-area: div;
    border-left: 2px solid #d3d3d3;
    height: 100%;
}

.bold {
    font-weight: bold;
}

.alert {
    margin: 2em auto 0 auto;
    width: 50%;
}

.message-container {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    font-weight: 300;
    font-size: 5em;
    height: auto;
    text-align: center;
    align-self: middle;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    color: #13446B;
}

.back-to-top i {
    font-size: 60px;
}

.open {
    color: #33cc33;
}

.closed {
    color: #ff0000;
}
