
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2em 1fr;
    grid-template-rows: 1fr 1fr auto auto auto auto;
    grid-template-areas: 
        "classHeader div rating"
        "metadata div commentsHeader"
        "prereq div comments"
        "classDesc div comments"
        "desc div comments"
        "sections div comments";
    margin: 2em 5em 2em 5em;
}

.class-header {
    grid-area: classHeader;
    display: flex;
    padding-right: 2em;
}

.spacer {
    flex-grow: 1;
}

.header-text{
    font-size: 2.5em;
    padding-right: 0.5em;
    align-self: center;
}

.subheader-text{
    font-size: 2em;
    padding-right: 0.5em;
}

.register-button {
    align-self: center;
    display: none;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.status {
    font-size: 3em;
    align-self: center;
}

.sections {
    font-size: 2em;
    padding: 0;
}

.open {
    color: #33cc33;
}

.closed {
    color: #ff0000;
}

.class-rating {
    grid-area: rating;
    display: flex;
}

.class-metadata {
    grid-area: metadata;
    font-size: 1.5em;
    padding-right: 2em;
}

.metadata-number {
    padding: 0 1em 0 0.5em;
}

.prereqs {
    font-size: 1.5em;
}

.comments-header {
    grid-area: commentsHeader;
    font-size: 2.5em;
    display: flex;
    align-items: flex-end;
}

.stars {
    font-size: 3em;
    color: gold;
    align-self: center;
    margin-left: 1em;
}

.class-prerequisites {
    grid-area: prereq;
    padding-bottom: 1em;
    padding-right: 2em;
}

.class-description {
    grid-area: classDesc;
    display: flex;
    padding-right: 2em;
}

.description {
    grid-area: desc;
    font-size: 1.2em;
    padding-right: 1.67em;
}

.class-sections {
    grid-area: sections;
    padding-right: 2em;
}

.class-sections table th {
    font-size: 1.4em;
    text-align: center;
}

.class-sections table td {
    font-size: 1.2em;
    text-align: center;
}

.class-sections table tbody tr td {
    vertical-align: middle;
}

.status-header {
    width: 108px;
}
.comments {
    grid-area: comments;
}
