body {
	font-family: 'Lato', sans-serif;
    color: #13446B;
}
.navbar {
	background-color: #0F436D;
	min-height: 5em;
}
.navbar-dark .navbar-brand {
	color: #C3DFE4;
	font-weight: 300;
	font-size: 2em;
	transition: color 1s ease;
}
.nav-link {
	color: #C3DFE4;
	font-weight: 100;
	font-size: 1.3em;
	transition: color 1s ease;
	letter-spacing: 2px;
}
.navbar-brand:hover, .nav-link:hover {
	color: #FFFFFF;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 10px;
	padding-left:20px;
}
.navbar-light .navbar-nav .nav-link {
    color: #C3DFE4;
}
.navbar-light .navbar-brand {
    color: #C3DFE4;
}

.navbar-light .navbar-toggler {
    color: #C3DFE4;
}
h3 {
    font-weight: 100;
    color: #13446B;
    font-size: 2.5em;
}
section {
    padding-top: 2.2em;
}
p {
    color: #13446B;
    font-weight: 400;
    font-size: .7em;
}

.dirclass {
    text-align: center;
}

h1 {
	font-weight: 100;
    color: #0F436D;
    font-size: 4em;
}
#dirsearch {
    border: 0;
    outline: 0;
    background: transparent;
    transition: background-color 1s ease;
    border-bottom: 0.01em solid #09325A;
}
#diresearch:hover {
    background-color: #f4fdff;
}

.mid-container {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.school-selecton {
    flex-grow: 1;
    height: auto;
    padding-bottom: 5em;
}

.req-col1 {
    flex-grow: 1;
    height: auto;
    width: auto;
    text-align: left;
}

.req-col2 {
    flex-grow: 1;
    height: auto;
    width: auto;
    text-align: left;
}

@media (max-width: 1113px) {
    .mid-container {
        flex-direction: column;
    }
}
.btn {
    border: 1px solid #13446B;
    color: #13446B;
    width: 10em;
    height: 2em;
    font-size: 1.2em;
    transform: color 1s ease, background-color 1.5s ease;
}
.btn:hover {
    color: #BBDAE0;
    background-color: #13446B;
}

.confirmation-btns {
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5em;
}

.checkboxes {
    font-size: .8em;
    margin-bottom: 5em;
}

h4 {
    font-size: 1.3em;
    font-weight: 300;
}


