body {
	font-family: 'Lato', sans-serif;
    color: #13446B;
}
.navbar {
	background-color: #0F436D;
	min-height: 5em;
}
.navbar-dark .navbar-brand {
	color: #C3DFE4;
	font-weight: 300;
	font-size: 2em;
	transition: color 1s ease;
}
.nav-link {
	color: #C3DFE4;
	font-weight: 100;
	font-size: 1.3em;
	transition: color 1s ease;
	letter-spacing: 2px;
}
.navbar-brand:hover, .nav-link:hover {
	color: #FFFFFF;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 10px;
	padding-left:20px;
}
.navbar-light .navbar-nav .nav-link {
    color: #C3DFE4;
}
.navbar-light .navbar-brand {
    color: #C3DFE4;
}

.navbar-light .navbar-toggler {
    color: #C3DFE4;
}
h3 {
    font-weight: 100;
    color: #13446B;
    font-size: 2.8em;
    text-align: center;
}
section {
    padding-top: 2.2em;
}
p {
    color: #13446B;
    font-weight: 400;
    font-size: .8em;
    text-align: center;
}

.dirclass {
    text-align: center;
}

h1 {
	font-weight: 100;
    color: #0F436D;
    font-size: 4em;
}

#dirsearch {
    border: 0;
    outline: 0;
    background: transparent;
    transition: background-color 1s ease;
    border-bottom: 0.01em solid #09325A;
    width: 30em;
}

#diresearch:hover {
    background-color: #f4fdff;
}

.mid-container {
    margin-left: 21%;
    margin-right: 21%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.school-selecton {
    flex-grow: 1;
    height: auto;
    padding-bottom: 5em;
}

.req-col1, .rec-col2 {
    flex-grow: 1;
    height: auto;
    width: auto;
    text-align: left;
}

.btn {
    border: 1px solid #13446B;
    color: #13446B;
    width: 8em;
    height: 1.9em;
    font-size: 1.2em;
    transform: color 1s ease, background-color 1.5s ease;
    margin-left:0.3em;
    margin-right:0.3em;
    line-height: 1.2em;
    background-color: white;
}
.btn:hover {
    color: #BBDAE0;
    background-color: #13446B;
}

.confirmation-btns {
    height: auto;
/*    margin-left: 20%;*/
/*    margin-right: 20%;*/
    margin-bottom: 1.2em;
    text-align: center;
}

.checkboxes {
    font-size: .8em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.3em;
    font-weight: 300;
}
@media (max-width: 425px) {
    #top-btn {
        margin-bottom: 1em;
    }
}
@media (max-width: 1113px) {
    .mid-container {
        flex-direction: column;
    }
    .school-selecton {
        text-align: center;
    }
    .req-col1 {
        text-align: center;
    }
    .req-col2 {
        text-align: center;
        height: auto;
    }
}
.dir-search-p {
    margin-bottom: 2.5em;
    font-size: 0.8em;
    font-weight: 400
}

select {
    margin-right: .5em
}

.icon-btn {
    background-color: transparent;
    color: #4D6785;
    outline: none;
    border: none;
    transition: color 1s ease;
}
.icon-btn:hover {
    color: #8dbbef;
}

.school-select-heading {
    font-weight: 400;
    font-size: 1.25em;
    padding-bottom: .5em;
}

label {
    font-size: 0.8em;
    font-weight: 300;
}

.reqful-h {
    text-align: center;
    font-size: 3.1em;
}

.reqful-p {
    font-weight: 700;
    font-size: .83em;
}

.reqful {
    padding-bottom: 0em;
}



input {
    
}

.cb {
    margin-right: 1em;
}
