body {
	font-family: 'Lato', sans-serif;
    color: #13446B;
}
.navbar {
	background-color: #0F436D;
	min-height: 5em;
}
.navbar-dark .navbar-brand {
	color: #C3DFE4;
	font-weight: 300;
	font-size: 2em;
	transition: color 1s ease;
}
.nav-link {
	color: #C3DFE4;
	font-weight: 300;
	font-size: 1.3em;
	transition: color 1s ease;
	letter-spacing: 2px;
}
.navbar-brand:hover, .nav-link:hover {
	color: #FFFFFF;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 10px;
	padding-left:20px;
}
.navbar-light .navbar-nav .nav-link {
    color: #C3DFE4;
}
.navbar-light .navbar-brand {
    color: #C3DFE4;
}

.navbar-light .navbar-toggler {
    color: #C3DFE4;
}
h3 {
    font-weight: 200;
    color: #13446B;
    font-size: 2.8em;
    text-align: center;
}
section {
    padding-top: 2.2em;
}
p {
    color: #13446B;
    font-weight: 400;
    font-size: .8em;
    text-align: center;
}

.dirclass {
    text-align: center;
}

h1 {
	font-weight: 200;
    color: #0F436D;
    font-size: 4em;
}

#dirsearch {
    border: 0;
    outline: 0;
    background: transparent;
    transition: background-color 1s ease;
    border-bottom: 0.01em solid #09325A;
    width: 30em;
}

#diresearch:hover {
    background-color: #f4fdff;
}

.mid-container {
    margin-left: 21%;
    margin-right: 21%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.school-selecton {
    flex-grow: 1;
    height: auto;
    padding-bottom: 5em;
}

.req-col1, .rec-col2 {
    flex-grow: 1;
    height: auto;
    width: auto;
    text-align: left;
}

.btn {
    border: 1px solid #13446B;
    color: #13446B;
    width: 8em;
    height: 1.9em;
    font-size: 1.2em;
    transition: color .5s ease, background-color .5s ease;
    margin-left:0.3em;
    margin-right:0.3em;
    line-height: 1.2em;
    background-color: white;
}
.btn:hover {
    color: #BBDAE0;
    background-color: #13446B;
}

.btn:active {
    color: white;
    background-color: #3472a3;
}

.confirmation-btns {
    height: auto;
/*    margin-left: 20%;*/
/*    margin-right: 20%;*/
    margin-bottom: 1.2em;
    text-align: center;
}

.checkboxes {
    font-size: .8em;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.3em;
    font-weight: 300;
}
@media (max-width: 425px) {
    .reqful-p {
        padding-right: 10%;
        padding-left: 10%;
    }
}
@media (max-width: 688px) {
    #dirsearch {
        width: 10em;
    }
}
@media (max-width: 1113px) {
    .mid-container {
        flex-direction: column;
    }
    .school-selecton {
        text-align: center;
    }
    .req-col1 {
        text-align: center;
    }
    .req-col2 {
        text-align: center;
        height: auto;
    }
}
@media (min-width: 1113px) {
    #dirsearch {
        width: 50em;
    }
}
.dir-search-p {
    margin-bottom: 2.5em;
    font-size: 0.8em;
    font-weight: 400
}

select {
    margin-right: .5em
}

.icon-btn {
    background-color: transparent;
    color: #4D6785;
    outline: none;
    border: none;
    transition: color 1s ease;
}
.icon-btn:hover {
    color: #8dbbef;
}

.school-select-heading {
    font-weight: 400;
    font-size: 1.25em;
    padding-bottom: .5em;
}

label {
    font-size: 0.8em;
    font-weight: 300;
}

.reqful-h {
    text-align: center;
    font-size: 3.1em;
}

.reqful-p {
    font-weight: 700;
    font-size: .83em;
}

.reqful {
    padding-bottom: 0em;
}

.cb {
    margin-right: 1em;
}

.modal-layout {
    text-align: center;
}

.smooth-input {
    text-align: center;
    width: 10em;
    height: 2.5em;
    margin-bottom: 1em;
    transition: color 0.5s ease, background-color 0.5s ease, width 0.5s ease;
    border-radius: .3em;
    border-color: transparent;
    background-color: rgba(189, 219, 224, 0.51);
    border: 1px solid #13446B;
}

.smooth-input:hover {
    background-color: rgba(189, 219, 224, 0.3);
}

.smooth-input:focus {
    width: 15em;
    background-color: rgba(189, 219, 224, 0.1);
}
::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity .5s; transition: opacity .5s; }  /* Chrome <=56, Safari < 10 */
:-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 4-18 */
::-moz-placeholder { opacity: 1; -moz-transition: opacity .5s; transition: opacity .5s; } /* FF 19-51 */
:-ms-input-placeholder { opacity: 1; -ms-transition: opacity .5s; transition: opacity .5s; } /* IE 10+ */
::placeholder { opacity: 1; transition: opacity .5s; } /* Modern Browsers */

*:focus::-webkit-input-placeholder { opacity: 0; } /* Chrome <=56, Safari < 10 */
*:focus:-moz-placeholder { opacity: 0; } /* FF 4-18 */
*:focus::-moz-placeholder { opacity: 0; } /* FF 19-50 */
*:focus:-ms-input-placeholder { opacity: 0; } /* IE 10+ */
*:focus::placeholder { opacity: 0; } /* Modern Browsers */
