<!DOCTYPE html>
<html>

<head>
    <title>Rutgers Course Searcher++ | Error</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/resources.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>

<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <div class="error-container">
        <%
            if (error === 404) { %>
                <h1 class="error"> Error 404! <br> Page Not Found</h1>
        <%  } else if (error === 500) { %>
                <h1 class="error">Error 500! <br> Something broke internally <br> :(</h1>
        <%  } else if (error === 'course') { %>
                <h1 class="error">Error! <br> Course not found</h1>
        <%  }  else if (error === 'course-error') { %>
                <h1 class="error">Error! <br> Could not retrieve course information</h1>
        <%  }  %>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>
