<!DOCTYPE html>
<html>
<head>
    <title>Rutgers Course Searcher++</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/resources.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <header>
        <% include ../partials/navbar %>
    </header>
    <% include ../partials/notification %>
    <div class="container-fluid">
        <%
        if (form && form.search) {
            if (form.search === 'requirement') { %>
                <div class="search-select btn-group btn-group-lg" role="group" aria-label="Basic example">
                    <button type="button" id="requirement-select" class="btn btn-outline-primary btn-lg btn-active">Requirement Search</button>
                    <button type="button" id="direct-select" class="btn btn-outline-primary btn-lg">Direct Search</button>
                </div>
        <%  } else if (form.search === 'direct') { %>
                <div class="search-select btn-group btn-group-lg" role="group" aria-label="Basic example">
                    <button type="button" id="requirement-select" class="btn btn-outline-primary btn-lg">Requirement Search</button>
                    <button type="button" id="direct-select" class="btn btn-outline-primary btn-lg btn-active">Direct Search</button>
                </div>
        <%  }
            } else { %>
            <div class="search-select btn-group btn-group-lg" role="group" aria-label="Basic example">
                <button type="button" id="requirement-select" class="btn btn-outline-primary btn-lg btn-active">Requirement Search</button>
                <button type="button" id="direct-select" class="btn btn-outline-primary btn-lg">Direct Search</button>
            </div>
        <%
        }
        %>
        <div id="requirement-search"
        <%
        if (form) {
            if (form.search) {
                if (form.search === 'requirement') { %>
                    style="display: block"
            <%  } else { %>
                    style="display: none"
            <%  }
            }
        } else { %>
            style="display: block"
        <%
        }
        %>
        >
            <h1 class="reqful-h">Requirement Search</h1>
            <p class="reqful-p">Check up to four checkboxes below to find a class that fulfills at least one desired requirement.</p>
            <form id="rsearch" method="get" action="/">
                <div class="mid-container">
                    <div class="req-col">
                        <input type="hidden" name="search" value="requirement">
                        <div class="reqBoxes">
                            <h4>Natural Sciences</h4>
                            <input type="checkbox" name="NS" value="true" <% if(form && form.requirements && form.requirements.NS) { %> checked <% } %>>
                            <label class="cb" for="NS">NS</label>
                        </div>
                        <div class="reqBoxes">
                            <h4>Social Analysis</h4>
                            <input type="checkbox" name="SCL" value="true" <% if(form && form.requirements && form.requirements.SCL) { %> checked <% } %>>
                            <label class="cb" for="SCL">SCL</label>
                        </div>
                        <div class="reqBoxes">
                            <h4>Historical Analysis</h4>
                            <input type="checkbox" name="HST" value="true" <% if(form && form.requirements && form.requirements.HST) { %> checked <% } %>>
                            <label class="cb" for="HST">HST</label>
                        </div>
                        <div class="reqBoxes">
                            <h4>Writing & Communication</h4>
                            <input type="checkbox" name="WC" value="true" <% if(form && form.requirements && form.requirements.WC) { %> checked <% } %>>
                            <label class="cb" class="cb" for="WC">WC</label>
                            <input type="checkbox" name="WCr" value="true" <% if(form && form.requirements && form.requirements.WCr) { %> checked <% } %>>
                            <label class="cb" class="cb" for="WCr">WCr</label>
                            <input type="checkbox" name="WCd" value="true" <% if(form && form.requirements && form.requirements.WCd) { %> checked <% } %>>
                            <label class="cb" class="cb" for="WCd">WCd</label>
                        </div>
                    </div>
                    <div class="req-col">
                        <div class="reqBoxes">
                            <h4>Contemporary Challenges</h4>
                            <input type="checkbox" name="CC" value="true" <% if(form && form.requirements && form.requirements.CC) { %> checked <% } %>>
                            <label class="cb" for="CC">CC</label>
                        </div>
                        <div class="reqBoxes">
                            <h4>Quantitative & Formal Reasoning</h4>
                            <input type="checkbox" name="QQ" value="true" <% if(form && form.requirements && form.requirements.QQ) { %> checked <% } %>>
                            <label class="cb" for="QQ">QQ</label>
                            <input type="checkbox" name="QR" value="true" <% if(form && form.requirements && form.requirements.QR) { %> checked <% } %>>
                            <label class="cb" for="QR">QR</label>
                        </div>
                        <div class="reqBoxes">
                            <h4>Arts & Humanities</h4>
                            <input type="checkbox" name="AHo" value="true" <% if(form && form.requirements && form.requirements.AHo) { %> checked <% } %>>
                            <label class="cb" for="AHo">AHo</label>
                            <input type="checkbox" name="AHp" value="true" <% if(form && form.requirements && form.requirements.AHp) { %> checked <% } %>>
                            <label class="cb" for="AHp">AHp</label>
                            <input type="checkbox" name="AHq" value="true" <% if(form && form.requirements && form.requirements.AHq) { %> checked <% } %>>
                            <label class="cb" for="AHq">AHq</label>
                            <input type="checkbox" name="AHr" value="true" <% if(form && form.requirements && form.requirements.AHr) { %> checked <% } %>>
                            <label class="cb" for="AHr">AHr</label>
                        </div>
                        <div class="reqBoxes">
                            <h4>Information Technology & Research</h4>
                            <input type="checkbox" name="ITR" value="true" <% if(form && form.requirements && form.requirements.ITR) { %> checked <% } %>>
                            <label class="cb" for="ITR">ITR</label>
                        </div>
                    </div>
                </div>
                <div class="confirmation-btns">
                    <input class="btn" type="submit" value="Submit">
                    <input class="btn" type="reset" value="Clear">
                </div>
            </form>
        </div>
        <div id="direct-search"
        <%
        if (form) {
            if (form.search) {
                if (form.search === 'direct') { %>
                    style="display: block"
            <%  } else { %>
                    style="display: none"
            <%  }
            }
        } else { %>
            style="display: none"
        <%
        }
        %>
        >
            <h3 class="dir-search-h"> Direct Search </h3>
            <p class="dir-search-p">Quickly find a class by keyword, index #, or course ID.</p>
            <div class="dirclass">
                <form id="dsearch" method="get" action="/">
                    <input type="hidden" name="search" value="direct">
                    <select name="category" required>
                        <%
                        if (form && form.category) {
                            if (form.category.default) { %>
                                <option value="" selected disabled>Search Category</option>
                                <option value="keyword">Keyword</option>
                                <option value="index">Index #</option>
                                <option value="course">Course ID</option>
                                <option value="professor">Professor</option>
                        <%  } else if (form.category.keyword) { %>
                                <option value="" disabled>Search Category</option>
                                <option value="keyword" selected>Keyword</option>
                                <option value="index">Index #</option>
                                <option value="course">Course ID</option>
                                <option value="professor">Professor</option>
                        <%  } else if (form.category.index) { %>
                                <option value="" disabled>Search Category</option>
                                <option value="keyword">Keyword</option>
                                <option value="index" selected>Index #</option>
                                <option value="course">Course ID</option>
                                <option value="professor">Professor</option>
                        <%  } else if (form.category.course) { %>
                                <option value="" disabled>Search Category</option>
                                <option value="keyword">Keyword</option>
                                <option value="index">Index #</option>
                                <option value="course" selected>Course ID</option>
                                <option value="professor">Professor</option>
                        <%  } else if (form.category.professor) { %>
                                <option value="" disabled>Search Category</option>
                                <option value="keyword">Keyword</option>
                                <option value="index">Index #</option>
                                <option value="course">Course ID</option>
                                <option value="professor" selected>Professor</option>
                        <%  }
                        } else { %>
                            <option value="" selected disabled>Search Category</option>
                            <option value="keyword">Keyword</option>
                            <option value="index">Index #</option>
                            <option value="course">Course ID</option>
                            <option value="professor">Professor</option>
                    <%  } %>
                    </select>
                    <input id="dirsearch" type="search" name="query" placeholder="Search..." value="<% if(form && form.query) { %> <%- form.query %> <% } %>" required>
                    <button class="icon-btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="search-results table-responsive">
            <div id="search-results" class="search-results-header">
                <h2>Search Results</h2>
                <span class="results-count">23 results</span>
                <%
                if (user) { %>
                <span class="personalize-switch">
                    <span data-toggle="tooltip" data-placement="top" title="Filter results by completed prerequisites and untaken courses.">Personalize Results</span>
                    <label class="switch">
                        <input id="personalize" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </span>
                <%
                }
                %>
                <span class="sort-dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button id="requirement-asc" class="dropdown-item" type="button">Requirements <i class="fas fa-arrow-up"></i></button>
                        <button id="requirement-desc" class="dropdown-item" type="button">Requirements <i class="fas fa-arrow-down"></i></i></button>
                        <button id="number-asc" class="dropdown-item" type="button">Course # <i class="fas fa-arrow-up"></i></button>
                        <button id="number-desc" class="dropdown-item" type="button">Course # <i class="fas fa-arrow-down"></i></i></button>
                        <button id="name-asc" class="dropdown-item" type="button">Name <i class="fas fa-arrow-up"></i></button>
                        <button id="name-desc" class="dropdown-item" type="button">Name <i class="fas fa-arrow-down"></i></i></button>
                        <button id="status-asc" class="dropdown-item" type="button">Status <i class="fas fa-arrow-up"></i></button>
                        <button id="status-desc" class="dropdown-item" type="button">Status <i class="fas fa-arrow-down"></i></i></button>
                    </div>
                </span>
            </div>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Course #</th>
                        <th>Name</th>
                        <th>Requirements</th>
                        <th>Prerequisites</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/course?id=33:010:272" target="_blank">33:010:272</a></td>
                        <td><a href="/course?id=33:010:272" target="_blank">INTRO FINANCIAL ACCT</a></td>
                        <td><a href="/course?id=33:010:272" target="_blank">None</a></td>
                        <td><a href="/course?id=33:010:272" target="_blank">None</a></td>
                        <td><a href="/course?id=33:010:272" target="_blank"><i class="fas fa-check-circle open"></i></a></td>
                    </tr>
                    <tr>
                        <td><a href="/course?id=33:010:272" target="_blank">33:010:272</a></td>
                        <td><a href="/course?id=33:010:272" target="_blank">INTRO FINANCIAL ACCT</a></td>
                        <td><a href="/course?id=33:010:272" target="_blank">AHp, AHo</a></td>
                        <td><a href="/course?id=33:010:272" target="_blank">(33:010:273)</a></td>
                        <td><a href="/course?id=33:010:272" target="_blank"><i class="fas fa-times-circle closed"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <a href="#" class="back-to-top">
        <i class="fas fa-arrow-circle-up"></i>
    </a>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <script src="/js/resources.js"></script>
</body>
</html>
